.btn {
    background: white none;
    padding: 10px 15px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    border: 0.5px solid grey;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn:hover {
    transition: 0.2s;
    box-shadow: 0 1px 1px  grey;
    color: inherit;
}

.btn:active {
    outline: none;
    box-shadow: none;
}

.default {
}

.success {
    color: #41cb56 !important;
    border-color: #3ec052;
}

.danger {
    color: #eb4747 !important;
    border-color: #da311d;
}

.warning {
    color: #ffb61b !important;
    border-color: #eb9200;
}

.cancel {
    background: #e2e2e2;
}